<!DOCTYPE html>
<html>
    <head>
        <title>TRILAT view</title>
    </head>
    <body>
        <header><h1 style="display:inline-block;">Trilat view</h1>
            <h2 id="MAC-View" style="display:inline-block;float:right;"></h2></header>
        
        <div id="page"></div>
        <canvas id="canvas" width="1000" height="1000" style="width:100%;height:90%;"></canvas>
    </body>
    <script src="config.js"></script>
    <script src="trilateration.js"></script>
    <script src="draw.js"></script>
    <script src="connection.js"></script>
</html>
